li > a{
    color:black;
    text-decoration-line: none;
}
.container > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.container{
    background-color:rgb(30, 210, 129);
    padding: 1px;
}
img{
    margin-top: 10px;
}