.box1{
    display: flex;
    background-color: rgb(218, 246, 255);
}

img{
    width: 32px; height: 40px; /*폭 가로, 세로*/
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.word{
    display: flex;
    margin-left: 500px;
    width: 400px;
    margin-right: 50px;
}

.st1{
    color: teal;
    font-size: 30px;
    font-weight: bold;
}

a{
    color:black;
    text-decoration-line:none ;
    
}

ul{
    list-style:none;
    
}