@font-face {
    font-family: 'NanumPenScript';
    src: url('/NanumPenScript-Regular.ttf');
}
  
html,
body {
    margin: 0px;
    width: 100%;
    background-color: #dddddd;
}
  
#root {
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
  
body * {
    font-family: 'NanumPenScript';
}
  